---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
---

<Layout title="Keenan Nicholson - Home" />
<div class="page">
  <div id="contentLeft">
    <div id="nameOccupationDiv">
      <h1 id="hello">
        <span style="font-size: 3rem;">Hi, I'm</span><br />
        <span style="color: #ea580c;">Keenan</span> Nicholson
      </h1>
      <div><p id="occupation">GIS analyst and software developer</p></div>
      <div>
        <a class="socials" href="https://twitter.com/keeb0rg" target="_blank"
          ><i class="fa-brands fa-twitter"></i>
        </a>
        <a
          class="socials"
          href="https://www.linkedin.com/in/kbnicholson"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a
          class="socials"
          href="https://github.com/Keenan-Nicholson"
          target="_blank"
          ><i class="fa-brands fa-github"></i>
        </a><a class="socials" href="mailto:keenanbnicholson@gmail.com"
          ><i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
  <div id="contentRight">
    <div id="aboutContentDiv">
      <p id="about">
        I hold a Bachelor of Science with a major in Computational Mathematics
        from Memorial University of Newfoundland where I am now in my final
        semester of a BA majoring in computer science and minoring in geography.
        <br />
        <br />
        I was previously on C-CORE's Earth Observation team, where my role involved
        analyzing satellite imagery to track and monitor the activity of icebergs
        and river ice. Additionally, I was responsible for performing full-stack
        development tasks.
        <br />
        <br />
        When I'm not looking at satellite imagery or writing code I am usually hiking
        with my dog, Goose, or watching terrible movies.
      </p>
    </div>
    <div id="gooseArrowDiv">
      <a href="../gooseGallery"
        ><img
          class="gooseAnimation"
          src="/goose_rotate.png"
          alt="picture of goose"
        />
      </a>
      <img id="arrow" src="/arrow.svg" alt="arrow" width="-100px" />
      <p id="goosePoint_P_Tag">take a look at my dog</p>
    </div>
  </div>
</div>
