---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image } from "@astrojs/image/components";
---

<Layout title="Keenan Nicholson - Home" />
<div class="page">
  <div id="contentLeft">
    <div id="nameOccupationDiv">
      <h1 id="hello">
        <span style="font-size: 3rem;">Hi, I'm</span><br />
        <span style="color: #ea580c;">Keenan</span> Nicholson
      </h1>
      <p id="occupation">GIS analyst and software developer</p>

      <a class="socials" href="https://twitter.com/keeb0rg" target="_blank"
        ><i class="fa-brands fa-twitter"></i>
      </a>
      <a
        class="socials"
        href="https://www.linkedin.com/in/kbnicholson"
        target="_blank"
        ><i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a
        class="socials"
        href="https://github.com/Keenan-Nicholson"
        target="_blank"
        ><i class="fa-brands fa-github"></i>
      </a><a class="socials" href="mailto:keenanbnicholson@gmail.com"
        ><i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
  <div id="contentRight">
    <div id="aboutContentDiv">
      <p id="about">
        Currently I am on C-CORE's Earth Observation team analyzing satellite
        imagery to monitor ship, sea ice, iceberg and river ice activity.
        <br />
        <br />
        I hold a Bachelor of Science with a major in Computational Mathematics from
        Memorial University of Newfoundland where I am also studying computer science
        and geography.
        <br />
        <br />
        When I'm not looking at satellite imagery or writing code I am usually hiking
        with my dog, Goose, or watching terrible movies.
      </p>
    </div>
    <div id="gooseArrowDiv">
      <a href="../gooseGallery"
        ><Image
          class="gooseAnimation"
          src="../images/goose_rotate.png"
          alt="picture of goose"
          height="300"
          width="200"
        />
      </a>
      <img id="arrow" src="/arrow.svg" alt="arrow" />
      <p id="goosePoint_P_Tag">take a look at my dog</p>
    </div>
  </div>
</div>
