.page {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000000;
  color: white;
  max-width: 100%;
  height: 100vh;
  /* border: 2px solid white; */
}

#contentLeft,
#contentRight {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 49.89%;
  height: 100%;
  /* border: 2px solid red; */
}

#nameOccupationDiv {
  position: relative;
  bottom: 0;
  margin: 14.5%;
  align-self: center;
  /* border: 2px solid white; */
}

#hello {
  margin: 0;
  font-weight: bolder;
  font-size: 4.7rem;
}

#occupation {
  position: absolute;
  margin: 0;
  font-size: 1.38rem;
  right: 0;
  bottom: 0;
}

#gooseArrowDiv {
  position: absolute;
  align-self: flex-end;
  /* border: 2px solid green; */
  width: 20rem;
  height: 20rem;
  padding: 5% 5% 5% 5%;
  margin-left: 400px;
}

.gooseAnimation {
  position: relative;
  object-fit: cover;
  animation: rotation 1.75s infinite linear;
  transform-origin: 55%;
  left: 200px;
  bottom: 100px;
  width: 150px;
}

#arrow {
  position: relative;
  bottom: 140px;
  height: 175px;
  left: 60px;
}

#goosePoint_P_Tag {
  position: absolute;
  font-size: 1.4rem;
  rotate: 35deg;
  bottom: 15%;
  left: 0;
}

#aboutContentDiv {
  margin-top: 27%;
  margin-right: 20%;
  max-width: 75%;
  height: 20rem;
  /* border: 2px solid blue; */
}

#about {
  font-size: 1.5rem;
}

.imgContainer {
  float: left;
  margin-left: 2rem;
  margin-top: 3rem;
}
.imgContainer img {
  max-width: 400px;
  max-height: 600px;
  object-fit: cover;
  box-shadow: 0px 5px 10px 10px rgba(161, 136, 249, 0.1);
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
}

a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
a:hover {
  opacity: 0.8;
}

.socials {
  font-size: 2.3rem;
  padding-right: 10px;
}

#homeButtonGooseGallery {
  text-align: center;
  margin-top: 2%;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-9deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  #contentLeft,
  #contentRight {
    width: 100%;
  }

  #hello {
    font-size: 4.5rem;
  }

  #occupation {
    position: relative;
  }

  #aboutContentDiv {
    margin-top: 20px;
    margin-right: 0;
    max-width: 100%;
    height: 55%;
  }

  #about {
    font-size: 2rem;
  }
  #arrow {
    display: none;
  }

  #gooseArrowDiv {
    margin: 0;
  }
  .gooseAnimation {
    bottom: 60px;
    left: 100px;
    width: 100px;
  }

  #goosePoint_P_Tag {
    bottom: 15%;
    rotate: 20deg;
    left: auto;
  }
}

@media (max-width: 768px) {
  #about {
    font-size: 1.2rem;
  }
}
